* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(201, 201, 201);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    width: 100%;
}

.header {
    display: flex;
    gap: 10px;
    height: 70px;
    background-color: rgb(144, 0, 0);
    color: white;
}

.header h1 {
    width: 20%;
    margin: auto;
}

.menu-nav {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.btn-cadJogo {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    font-weight: 700;
    line-height: 3rem;
}

input {
    border-color: rgb(228, 2, 2);
    border-radius: 7px;
    height: 1.7rem;
}

input[type="submit"] {
    margin-top: 15px;
    border-radius: 7px;
    height: 1.7rem;
    background-color: rgb(240, 240, 240);
}